@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #001f3f, #003366);
}

html {
  scroll-behavior: smooth;
}

.list-circle {
  list-style-type: circle;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
